
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Acceso";
}


<h2>Bienvenido </h2>
<h4>@Html.Label("", ViewData["Message"].ToString())</h4>
<img  src="/imgs/logo-universidad.png" width="100" height="50" alt="">
<!-- <h3 class="text-success">@ViewData["Message"]</h3> -->
<a class="btn btn-success mt-5  form-control-lg" asp-area="" asp-controller="Form" asp-action="Index">Registrar datos de contacto</a>