@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Realizado por:</h1>

<p><strong>Wilson Eduardo Forero Rocha</strong><br>
    Arquitectura Empresarial de Software<br>
    Pontificia Universidad Javeriana<br>
    PICA -  2019
</p>
